body{
    background: #efefef;
}
.nav{
    /*background: #499ef3;*/
}
.publish-area, .question-list-area{
    margin-right: 30px;
    margin-left: 30px;
    background: white;
}

.btn-publish{
    float: right;
}

.faqi{
    color: #333;
    font-size: 20px;
}
.avatar{
    height: 30px;
    width: 30px;
}